@charset "utf-8";

@bg: #F4F4F4;  //背景颜色
@font-size: 12px; 
@botton-color: #52ADE7;
@font_red:#cc3333;
@bg_white:#fff;
@border-color: #E4E4E4;  

/*全局*/
*{
    padding: 0;
    margin: 0;
}

ul{
    list-style: none;
}

@font-face {
  font-family: 'FontAwesome';
  
  font-style: normal;
}

body{
    background: @bg;
    font-family: "微软雅黑";
    font-size: @font-size;
}

a{
    color:#000;
    text-decoration: none;
}

a:hover{
    color:#000;
    text-decoration: none;
}

a:active{
    color:#333;
    text-decoration: none;
}


/*组件*/

//边框和填充都计入width
.box-sizing{
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

//去掉边框
.outline{
    outline: none;
}

.border(top,@color:#E4E4E4){
    border-top: 1px solid @color;
}

.border(bottom,@color:#E4E4E4){
    border-bottom: 1px solid @color;
}

.padding(@size:15px){
    padding-top: @size;
}

.padding(rl,@size:10px){
    padding:0 @size;
}

.padding(sx,@size:5px){
    padding:@size 0;
}

.padding(all,@sx:10px,@rl:10px){
    padding:@sx @rl;
}

.margin(@size:15px){
    margin-top: @size;
}

//容器
.content-wrap{
    width:100%;
    background: @bg_white;
    padding: 5px;
    .box-sizing;
    border-bottom: 1px solid @border-color;
}

.content-wrap:first-child{
    border-top: 1px solid @border-color;
}

//输入框 
.form-input{
    width: 100%;
    padding: 5px 3px;
    .box-sizing;
    border:none;
    outline: none;
}
  

.form-div{
    width: 100%;
    text-align: center;
    background: #fff;
}

.wrapper{
    width: 100%;
    height: auto;
    background: #fff;
    overflow: hidden;
}

.nav_menu{
    list-style: none;
}

.nav_menu li{
    width: 25%;
    float: left;
    padding: 8px 0;
    text-align: center;
}

.form-login{
    width: 96%;
    padding: 10px 0;
    padding-left: 5px;
    border: none;
}

.footer{
    position: fixed;
    bottom: 0px;
    left:0;
    width: 100%;
    height: 50px;
    padding-top: 12px;
    background: #fff;
    ul{
        list-style: none;
    }
    ul li{
        float: left;
        text-align: center;
        width: 25%;
        a{
          display: block;
          color: #555;
        }
    }
}

.div-container{
    width: 100%;
    text-align: center;
    section{
        padding-top: 20px;
        a{
            color:#666;   
        }
    }
}

.form-checked{
    width: 15px;
    height: 15px;
    background: #000;
    position: absolute;
    margin-top: 2px;
}

.form-button{
    width: 90%;
    .padding(sx, 8px);
    background: @botton-color;
    border: none;
    color: #fff;
    word-spacing: 2px;
    font-weight: bolder;
}

.navigate-div{
    .content-wrap;
    padding: 10px;
    color:#666
}

/*独立*/
.login-container{
    position: relative;
    margin-top: 25px;
}

.padding5{
    .padding(30px)
}


.margin25{
    .margin(25px);
}

.user-btn{
    background: none; 
    text-align: center; 
    border: none;
}

.tel{
    display: inline-block;
    -moz-transform: translate(10px, -8px);
    -webkit-transform: translate(10px, -8px);
    transform: translate(10px, -8px);
    font-size: 14px;
    color: #666666;
}

.border-top{
    .border(top);
}

.border-bottom{
    .border(bottom);
}

.float-right{
    float: right;
}

.float-left{
    float: left;
}
@icon_color: #666;
.truck-config{
    color: @icon_color;
    margin-right: 10px;
}

.footer-config{
    font-size: 16px;
    color: #a3ca0b;
}

.text-overflow{
  overflow:hidden;

  white-space:nowrap;

  text-overflow:ellipsis;

  text-overflow: ellipsis;/* IE/Safari */

  -ms-text-overflow: ellipsis;

  -o-text-overflow: ellipsis;/* Opera */

}

.transform(@x:20px, @y:5px){
  -webkit-transform: translate(@x, @y);
  -moz-transform: translate(@x, @y);
  transform: translate(@x, @y);
}

.product{
    width: 100%;
    &_menu{
        background: #fff;
        li{
          width: 100%;
          padding: 5px;
          .box-sizing;
          position: relative;
          .border(bottom);
          .product_img{
            float: left;
            img{
              width: 50px;
              height: 50px;
            }
          }

          .product_shopping{
            float: right;
            margin-top: 10px;
              img{
              width: 30px;
              height: 30px;
            }
          }

        .product_content{
            margin-left: 55px;
            span{
                display: block;
            }
            .product_name{
                font-weight: bolder;
            }
           .product_tro{
                color: #666;
            }
           .product_price{
                b{
                   color: @font_red;
                   font-weight: bolder;
                }
           }
        }
     }
        
        .driver{
            height: auto;
            padding: 8px;
            .box-sizing;
            color: #333;
            .status{
                float: right;
                color: @font_red;
            }
        }
        
        .total_money{
            height: auto;
            padding: 8px;
            .box-sizing;
            text-align: right;
        }
    }
}

.shopping{
        @shopping_bg:#E4E4E4;
        width: 100%;
        height: 40px;
        line-height: 40px;
        position:fixed;
        bottom: 0;
        left: 0;
        background: @shopping_bg;
        .shopping_status{
            padding: 0 5px;
            .shop_flag{
                font-size: 16px;
                font-weight: 800;
                color: @font_red;
            }
            .shop_num{
                margin: 0 4px;
            }
            
            .shop_price{
                b{
                    color: @font_red;
                }
            }
            .go_shop{
                display: inline-block;
                width: 50px;
                height: 30px;
                text-align: center;
                line-height: 30px;
                background: @font_red;
                color: #fff;
                position: absolute;
                right: 5px;
                top: 5px;
            }
        }
    }
    
.mask_opacity{
    background: #000;
    opacity:0.3; 
    filter: alpha(opacity=30);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 10;
    display: none;
}

/*按钮颜色*/
@btn_color: #577952;
.shopping_number{
    background: #fff;
    width: 100%;
    height: 100px;
    padding: 10px 0;
    position: fixed;
    bottom: 0px;
    z-index: 100;
    display: none;
    .product_info{
        .shop_img{
            img{
                width: 40%;
                height: 100px;
                float: left;
            }
        }
        .shop_content{
            .close{
                position: absolute;
                right: 5px;
                top: 5px;
                img{
                    width: 20px;
                    height: 20px;
                }
            }
            .sname{
                margin-bottom:5px;
                color: #666;
            }
            .sprice{
                margin-bottom: 8px;
                color: #666;
                b{
                    color: @font_red;
                }
            }
            .snum{
                margin: 3px 0;
                margin-bottom: 8px;
                .icon-minus{
                    background: @btn_color;
                    margin-right: 5px;
                    color: #fff;
                    padding: 3px 5px;
                }
                .number{
                    width:40px;
                    text-align: center;
                }
                .icon-plus{
                    margin-left: 5px;
                    color: #fff;
                    background: @btn_color;
                    padding: 3px 5px;
                }
            }
            .tprice{
                color: #666;
                margin-bottom: 5px;
                b{
                    color: @font_red;
                }
            }
        }
        .go_shopping{
            input{
                padding: 3px 20px;
                background: @btn_color;
                border: none;
                color: #fff;
                word-spacing: 2px;
                font-weight: bold;
            }
        }
    }
}

.font-weight{
    font-weight: bold;
    color: #222;
}

.instr{
    margin: 5px 0;
    text-indent: 25px;
}

.shop{
    background: #fff;
    .icon-minus{
        background: @btn_color;
        margin-right: 5px;
        color: #fff;
        padding: 3px 5px;
    }
    .number{
        width:30px;
        text-align: center;
    }
    .icon-plus{
        margin-left: 5px;
        color: #fff;
        background: @btn_color;
        padding: 3px 5px;
    }
}    

@green:#336633;
.button-wrap{
    background: fadeout(@green, 30%);
    border: none;
    font-size: 12px;
    font-weight: bold;
}

@header-bg: #333;
.header{
    width: 100%;
    background: fadeout(@header-bg, 10%);
    height: 40px;
    ul{
        li:first-child{
            width: 40px;
            height: 40px;
            line-height: 40px;
            text-align: center;
            font-size: 16px;
            font-weight: bold;
            color: #fff;
            padding: 0;
        }
        li{
            float: left;
            height: 40px;
            line-height: 40px;
            overflow: hidden;
            padding-left: 15px;
            color:#fff;
            font-size: 12px;
            font-weight: bold;
        }
        li:last-child{
            width: 50px;
            padding: 0;
            button{
                color:#FFFFFF;
                padding: 5px 10px;
                outline: none;
            }
        }
        .operator{
            display: inline-block;
            height: 30px;
            font-size: 20px;
            color:#333;
            position: absolute;
            left:40px;
            top: 5px;
        }
        
    }
    dl{
        width: 100%;
        padding: 5px;
        .box-sizing;
        dd:first-child{
            border-right: 1px solid #333;
            .box-sizing;
        }
        dd{
            width: 50%;
            float: left;
            height: 30px;
            line-height: 30px;
            text-align: center;
            color: #fff;
            font-size: 14px;
            font-weight: bold;
        }
    }
}



