@charset "utf-8";
/*全局*/
* {
  padding: 0;
  margin: 0;
}
ul {
  list-style: none;
}
@font-face {
  font-family: 'FontAwesome';
  font-style: normal;
}
body {
  background: #f4f4f4;
  font-family: "微软雅黑";
  font-size: 12px;
}
a {
  color: #000;
  text-decoration: none;
}
a:hover {
  color: #000;
  text-decoration: none;
}
a:active {
  color: #333;
  text-decoration: none;
}
/*组件*/
.box-sizing {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.outline {
  outline: none;
}
.content-wrap {
  width: 100%;
  background: #ffffff;
  padding: 5px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  border-bottom: 1px solid #e4e4e4;
}
.content-wrap:first-child {
  border-top: 1px solid #e4e4e4;
}
.form-input {
  width: 100%;
  padding: 5px 3px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  border: none;
  outline: none;
}
.form-div {
  width: 100%;
  text-align: center;
  background: #fff;
}
.wrapper {
  width: 100%;
  height: auto;
  background: #fff;
  overflow: hidden;
}
.nav_menu {
  list-style: none;
}
.nav_menu li {
  width: 25%;
  float: left;
  padding: 8px 0;
  text-align: center;
}
.form-login {
  width: 96%;
  padding: 10px 0;
  padding-left: 5px;
  border: none;
}
.footer {
  position: fixed;
  bottom: 0px;
  left: 0;
  width: 100%;
  height: 50px;
  padding-top: 12px;
  background: #fff;
}
.footer ul {
  list-style: none;
}
.footer ul li {
  float: left;
  text-align: center;
  width: 25%;
}
.footer ul li a {
  display: block;
  color: #555;
}
.div-container {
  width: 100%;
  text-align: center;
}
.div-container section {
  padding-top: 20px;
}
.div-container section a {
  color: #666;
}
.form-checked {
  width: 15px;
  height: 15px;
  background: #000;
  position: absolute;
  margin-top: 2px;
}
.form-button {
  width: 90%;
  padding: 8px 0;
  background: #52ade7;
  border: none;
  color: #fff;
  word-spacing: 2px;
  font-weight: bolder;
}
.navigate-div {
  width: 100%;
  background: #ffffff;
  padding: 5px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  border-bottom: 1px solid #e4e4e4;
  padding: 10px;
  color: #666666;
}
/*独立*/
.login-container {
  position: relative;
  margin-top: 25px;
}
.padding5 {
  padding-top: 30px;
}
.margin25 {
  margin-top: 25px;
}
.user-btn {
  background: none;
  text-align: center;
  border: none;
}
.tel {
  display: inline-block;
  -moz-transform: translate(10px, -8px);
  -webkit-transform: translate(10px, -8px);
  transform: translate(10px, -8px);
  font-size: 14px;
  color: #666666;
}
.border-top {
  border-top: 1px solid #e4e4e4;
}
.border-bottom {
  border-bottom: 1px solid #e4e4e4;
}
.float-right {
  float: right;
}
.float-left {
  float: left;
}
.truck-config {
  color: #666666;
  margin-right: 10px;
}
.footer-config {
  font-size: 16px;
  color: #a3ca0b;
}
.text-overflow {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  /* IE/Safari */
  -ms-text-overflow: ellipsis;
  -o-text-overflow: ellipsis;
  /* Opera */
}
.product {
  width: 100%;
}
.product_menu {
  background: #fff;
}
.product_menu li {
  width: 100%;
  padding: 5px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  position: relative;
  border-bottom: 1px solid #e4e4e4;
}
.product_menu li .product_img {
  float: left;
}
.product_menu li .product_img img {
  width: 50px;
  height: 50px;
}
.product_menu li .product_shopping {
  float: right;
  margin-top: 10px;
}
.product_menu li .product_shopping img {
  width: 30px;
  height: 30px;
}
.product_menu li .product_content {
  margin-left: 55px;
}
.product_menu li .product_content span {
  display: block;
}
.product_menu li .product_content .product_name {
  font-weight: bolder;
}
.product_menu li .product_content .product_tro {
  color: #666;
}
.product_menu li .product_content .product_price b {
  color: #cc3333;
  font-weight: bolder;
}
.product_menu .driver {
  height: auto;
  padding: 8px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  color: #333;
}
.product_menu .driver .status {
  float: right;
  color: #cc3333;
}
.product_menu .total_money {
  height: auto;
  padding: 8px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  text-align: right;
}
.shopping {
  width: 100%;
  height: 40px;
  line-height: 40px;
  position: fixed;
  bottom: 0;
  left: 0;
  background: #e4e4e4;
}
.shopping .shopping_status {
  padding: 0 5px;
}
.shopping .shopping_status .shop_flag {
  font-size: 16px;
  font-weight: 800;
  color: #cc3333;
}
.shopping .shopping_status .shop_num {
  margin: 0 4px;
}
.shopping .shopping_status .shop_price b {
  color: #cc3333;
}
.shopping .shopping_status .go_shop {
  display: inline-block;
  width: 50px;
  height: 30px;
  text-align: center;
  line-height: 30px;
  background: #cc3333;
  color: #fff;
  position: absolute;
  right: 5px;
  top: 5px;
}
.mask_opacity {
  background: #000;
  opacity: 0.3;
  filter: alpha(opacity=30);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 10;
  display: none;
}
/*按钮颜色*/
.shopping_number {
  background: #fff;
  width: 100%;
  height: 100px;
  padding: 10px 0;
  position: fixed;
  bottom: 0px;
  z-index: 100;
  display: none;
}
.shopping_number .product_info .shop_img img {
  width: 40%;
  height: 100px;
  float: left;
}
.shopping_number .product_info .shop_content .close {
  position: absolute;
  right: 5px;
  top: 5px;
}
.shopping_number .product_info .shop_content .close img {
  width: 20px;
  height: 20px;
}
.shopping_number .product_info .shop_content .sname {
  margin-bottom: 5px;
  color: #666;
}
.shopping_number .product_info .shop_content .sprice {
  margin-bottom: 8px;
  color: #666;
}
.shopping_number .product_info .shop_content .sprice b {
  color: #cc3333;
}
.shopping_number .product_info .shop_content .snum {
  margin: 3px 0;
  margin-bottom: 8px;
}
.shopping_number .product_info .shop_content .snum .icon-minus {
  background: #577952;
  margin-right: 5px;
  color: #fff;
  padding: 3px 5px;
}
.shopping_number .product_info .shop_content .snum .number {
  width: 40px;
  text-align: center;
}
.shopping_number .product_info .shop_content .snum .icon-plus {
  margin-left: 5px;
  color: #fff;
  background: #577952;
  padding: 3px 5px;
}
.shopping_number .product_info .shop_content .tprice {
  color: #666;
  margin-bottom: 5px;
}
.shopping_number .product_info .shop_content .tprice b {
  color: #cc3333;
}
.shopping_number .product_info .go_shopping input {
  padding: 3px 20px;
  background: #577952;
  border: none;
  color: #fff;
  word-spacing: 2px;
  font-weight: bold;
}
.font-weight {
  font-weight: bold;
  color: #222;
}
.instr {
  margin: 5px 0;
  text-indent: 25px;
}
.shop {
  background: #fff;
}
.shop .icon-minus {
  background: #577952;
  margin-right: 5px;
  color: #fff;
  padding: 3px 5px;
}
.shop .number {
  width: 30px;
  text-align: center;
}
.shop .icon-plus {
  margin-left: 5px;
  color: #fff;
  background: #577952;
  padding: 3px 5px;
}
.button-wrap {
  background: rgba(51, 102, 51, 0.7);
  border: none;
  font-size: 12px;
  font-weight: bold;
}
.header {
  width: 100%;
  background: rgba(51, 51, 51, 0.9);
  height: 40px;
}
.header ul li:first-child {
  width: 40px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  font-size: 16px;
  font-weight: bold;
  color: #fff;
  padding: 0;
}
.header ul li {
  float: left;
  height: 40px;
  line-height: 40px;
  overflow: hidden;
  padding-left: 15px;
  color: #fff;
  font-size: 12px;
  font-weight: bold;
}
.header ul li:last-child {
  width: 50px;
  padding: 0;
}
.header ul li:last-child button {
  color: #FFFFFF;
  padding: 5px 10px;
  outline: none;
}
.header ul .operator {
  display: inline-block;
  height: 30px;
  font-size: 20px;
  color: #333;
  position: absolute;
  left: 40px;
  top: 5px;
}
.header dl {
  width: 100%;
  padding: 5px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.header dl dd:first-child {
  border-right: 1px solid #333;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.header dl dd {
  width: 50%;
  float: left;
  height: 30px;
  line-height: 30px;
  text-align: center;
  color: #fff;
  font-size: 14px;
  font-weight: bold;
}
